<h1>Submit a URL</h1>
<form action="/" method="POST">
<label for="uri">uri:</label><input name="uri" type="text"><br>
<label for="status">status:</label><input name="status" type="text"><br>
<label for="tags">tags:</label><input name="tags" type="text"><br>
<label for="pairs">pairs:</label><input name="pairs" type="text"><br>
<label for="reduceurl">reduceurl:</label>
<select name="reduceurl">
  <option>true</option>
  <option>false</option>
</select><br>
<input type="submit" value="submit">
</form>
